doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Sarpanch:900' rel='stylesheet' type='text/css')
		link(type='text/css' rel='stylesheet' href="/style1.css")
	body
		#mainDiv
			h1 polycule
			h2 New user sign-up
			div
				table
					tr
						td 
							input(type='button' name='signup' class="submitButton" id="signup")
					tr
						td 
							input(type='button' name='facebookSignup' class='submitButton' id="facebookSignup")