doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Sarpanch:900' rel='stylesheet' type='text/css')
		link(type='text/css' rel='stylesheet' href="/style2.css")
	body
		#mainDiv
			h1 polycule
			h2=welcomeMessage
			div
				table
					tr
						td 
							input(type='button' name='signup' class="submitButton" id="signup" value="Signup" onclick='window.location="/join/standard"')
					tr
						td 
							input(type='button' name='facebookSignup' class='facebookButton' id="facebookSignup" value="Signup with Facebook" onclick='window.location="/join/facebook"')