doctype html
html
	head
		script(src="//d3js.org/d3.v3.min.js")
		script(src="/background.js")
		link(href='https://fonts.googleapis.com/css?family=Sarpanch:900' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
		link(href='/styleLogin.css' rel='stylesheet' type='text/css')
		
	body(onresize="reSize();")
		svg(id="backsvg")
		div(id="logindiv")
			h1 polycule
			form(action="/login" method="post" name="loginForm")
				p(id="errorMessage")=error
				input(id="username" type="text" name="username" placeholder="Username or Email" class="inputBox")
				input(id="password" type="password" name="password" placeholder="Password" class="inputBox")
				br
				input(type="submit" value="Login" class="submitButton")
				span OR
				input(type="button" value="Login with Facebook" class="facebookButton" onclick='window.location="/login/facebook"')
				hr
				p New to Polycule? 
					a(href="/signup") Sign up
					br Forgotten your password?
					a(href="/login/reset") Click here