doctype html
html
	head
		script(src='//d3js.org/d3.v3.min.js')
		link(href='https://fonts.googleapis.com/css?family=Sarpanch:900' rel='stylesheet' type='text/css')
		link(type='text/css' rel='stylesheet' href="/style1.css")
	body
		#resetDiv
			h1 polycule
			h2 Your password has been reset
			p(class="centerP") Please check your email (you may need to check the spam folder).
			p(class="centerP")
				a(href="/login") Login