body {
    background-color: black;
    font-family: sans-serif;
}

#mainDiv {
   top: 50px;
   margin: 0 auto;
   background-color: white;
   border: 2px solid white;
   border-radius: 10px;
   text-align: center;
   width: 400px;
}

h1 {
    color: black;
    font-family: 'Sarpanch', sans-serif;
    font-size: 50px;
}

h2 {
    font-size: 18px;
}

.submitButton {
    width: 260px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: lightgray;
}

.submitButton:hover {
    background-color: #BBBBBB;
}

.facebookButton {
    width: 260px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #3B5998;
    margin-bottom: 10px;
    background-color: #3B5998;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.facebookButton:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
}
